<div class="exam-wrapper">
  <div class="main-content">
    <div class="btn-tab-container">
      <button nz-button nzType="default" class="btn-tab">Bài làm</button>
    </div>

    <div class="questions-list">
      <div class="question-container" *ngFor="let q of questions; let i = index" [id]="'question-' + i">
           <div class="question-header">
            Câu {{ i + 1 }}: {{ q.content }}
          </div>
        <nz-radio-group class="options-row" [(ngModel)]="selectedAnswers[q.id]" (ngModelChange)="selectOption(q.id, $event)">
          <label nz-radio *ngFor="let opt of q.options; let idx = index" [nzValue]="opt.id">
            <span class="option-label">{{ ['A', 'B', 'C', 'D'][idx] }}.</span>
            <span class="option-text">{{ opt.optionText }}</span>
          </label>
        </nz-radio-group>
      </div>
    </div>
  </div>

  <div class="right-sidebar">
    <div class="sidebar-body">
      <p class="section-title">Danh sách câu hỏi</p>
      <div class="question-nav-grid">
        <div class="nav-item" 
             *ngFor="let q of questions; let i = index"
             [class.done]="selectedAnswers[q.id]"
             (click)="scrollToQuestion(i)">
          {{ i + 1 }}
        </div>
      </div>
    </div>

    <div class="sidebar-footer">
      <div class="timer-mini">
        <span>Thời gian:</span>
        <span class="time-val" [class.emergency]="seconds <= 600">{{ remainingTime }}</span>
      </div>
      <button nz-button nzBlock class="btn-submit" (click)="submitExam()">Nộp bài</button>
    </div>
  </div>
</div>
